* {
  margin: 0;
  padding: 0;
  border: 0;
}
.warp {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  background-color: aliceblue;
}

.control {
  width: 1180px;
  height: 46px;
  margin: auto;
  background-color: rgb(81, 172, 172);
}

.topmenu {
  width: 1180px;
  height: 72px;
  margin: auto;
  background-color: rgb(20, 123, 123);
}

.serch {
  width: 1180px;
  height: 242px;
  margin: auto;
  background-color: rgb(9, 79, 79);
}
/* main start */
.menu {
  width: 1180px;
  height: 292px;
  margin: auto;
  background-color: rgb(127, 182, 127);
}

.banner {
  width: 1180px;
  height: 240px;
  margin: auto;
  background-color: rgb(111, 165, 111);
}

.background {
  width: 100%;
  background-color: rgb(187, 187, 187);
}

.bg_container {
  width: 1180px;
  height: 425px;
  margin: auto;
  background-color: rgb(78, 158, 78);
  display: flex;
  justify-content: space-between;
}
.bg_container .news {
  width: 346px;
  height: 316px;
  border-radius: 50px 20px 20px 20px;
  background-color: aliceblue;
  margin-top: 53px;
}
.bg_container .info {
  width: 346px;
  height: 316px;
  border-radius: 20px 20px 20px 50px;
  background-color: aliceblue;
  margin-top: 53px;
}
.bg_container .link {
  width: 346px;
  height: 316px;
  border-radius: 20px 50px 20px 20px;
  background-color: aliceblue;
  margin-top: 53px;
}

.bg_container2 {
  width: 1180px;
  height: 377px;
  margin: auto;
  background-color: rgb(54, 156, 54);
}

.bg_container3 {
  width: 1180px;
  height: 420px;
  margin: auto;
  background-color: rgb(34, 148, 34);
}

.bg_container4 {
  width: 1180px;
  height: 376px;
  margin: auto;
  background-color: rgb(5, 118, 5);
}
/* footer */

footer .container {
  width: 100%;
  background-color: rgb(187, 187, 187);
  border-top: 1px solid rgb(155, 155, 155);
}
.bottum_info {
  width: 1180px;
  height: 249px;
  margin: auto;
  background-color: rgb(106, 146, 5);
}
