@font-face {
  font-family: "NBG";
  font-weight: 400;
  src: url(https://idcwww.nhis.or.kr/fonts/NanumBarunGothicSubset.eot);
  src: url(https://idcwww.nhis.or.kr/fonts/NanumBarunGothicSubset.eot?#iefix)
      format("embedded-opentype"),
    url(https://idcwww.nhis.or.kr/fonts/NanumBarunGothicSubset.woff2)
      format("woff2"),
    url(https://idcwww.nhis.or.kr/fonts/NanumBarunGothicSubset.woff)
      format("woff"),
    url(https://idcwww.nhis.or.kr/fonts/NanumBarunGothicSubset.ttf)
      format("truetype");
}

@font-face {
  font-family: "NBG";
  font-weight: 700;
  src: url(https://idcwww.nhis.or.kr/fonts/NanumBarunGothicBoldSubset.eot);
  src: url(https://idcwww.nhis.or.kr/fonts/NanumBarunGothicBoldSubset.eot?#iefix)
      format("embedded-opentype"),
    url(https://idcwww.nhis.or.kr/fonts/NanumBarunGothicBoldSubset.woff2)
      format("woff2"),
    url(https://idcwww.nhis.or.kr/fonts/NanumBarunGothicBoldSubset.woff)
      format("woff"),
    url(https://idcwww.nhis.or.kr/fonts/NanumBarunGothicBoldSubset.ttf)
      format("truetype");
}

@font-face {
  font-family: "NotoKr";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(http://idcwww.nhis.or.kr/fonts/NotoSans-Regular.eot);
  src: url(https://idcwww.nhis.or.kr/fonts/NotoSans-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(https://idcwww.nhis.or.kr/fonts/NotoSans-Regular.woff2) format("woff2"),
    url(https://idcwww.nhis.or.kr/fonts/NotoSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "NotoKr";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url(http://idcwww.nhis.or.kr/fonts/NotoSans-Medium.eot);
  src: url(https://idcwww.nhis.or.kr/fonts/NotoSans-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(https://idcwww.nhis.or.kr/fonts/NotoSans-Medium.woff2) format("woff2"),
    url(https://idcwww.nhis.or.kr/fonts/NotoSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "NotoKr";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url(http://idcwww.nhis.or.kr/fonts/NotoSans-Bold.eot);
  src: url(https://idcwww.nhis.or.kr/fonts/NotoSans-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(https://idcwww.nhis.or.kr/fonts/NotoSans-Bold.woff2) format("woff2"),
    url(https://idcwww.nhis.or.kr/fonts/NotoSans-Bold.woff) format("woff");
}

.fs-12 {
  font-size: 1.2rem;
}

.fs-13 {
  font-size: 1.3rem;
}

.fs-14 {
  font-size: 1.4rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-17 {
  font-size: 1.7rem;
}

.fs-18 {
  font-size: 1.8rem;
}

.fs-19 {
  font-size: 1.9rem;
}

.fs-20 {
  font-size: 2rem;
}

.fs-21 {
  font-size: 2.1rem;
}

.fs-28 {
  font-size: 2.8rem;
}
