.go_skip {
  display: none;
}
.inner {
  width: 100%;
  max-width: 1180px;
  margin: auto;
}

header {
  position: relative;
  z-index: 3;
  padding-bottom: 73px;
}

header .top {
  width: 100%;
  height: 46px;
  padding-top: 12px;
}

header .top .inner {
  margin: 0 auto;
  position: relative;
}
.inner:after {
  clear: both;
  display: block;
  content: "";
}
/* control */
header .top .inner .control {
  float: left;
  overflow: hidden;
}
header .top .inner .control > span {
  float: left;
  margin-left: 20px;
}
header .top .inner .control > span:first-child {
  margin-left: 0px;
}

header .top .inner .control em {
  font-style: normal;
  color: #707377;
  font-size: 13px;
  margin-right: 4px;
}
header .top .inner .control button {
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  margin-right: 1px;
}

header .top .inner .control .btn-increase {
  background: url(../img/btn/btn-increase.png) no-repeat;
}
header .top .inner .control .btn-decrease {
  background: url(../img/btn/btn-decrease.png) no-repeat;
}

/* sound */

header .top .inner .control .default_sound {
  background: url(../img/btn/btn-sound.png);
}
header .top .inner .control .default_mute {
  display: none;
  background: url(../img/btn/btn-mute.png);
}
header .top .inner .user_set {
  float: right;
  padding-top: 1px;
}
header .top .inner .user_set ul.dep1 {
  margin: 0;
  padding: 0;
}
header .top .inner .user_set .dep1 > li {
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  position: relative;
}

header .top .inner .user_set .dep1 > li::before {
  width: 1px;
  height: 14px;
  background-color: #e1e1e1;
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
}
header .top .inner .user_set .dep1 > li:first-child::before {
  display: none;
}
header .top .inner .user_set .dep1 > li > a {
  font-size: 13px;
}
header .top .inner .user_set .dep1 > li button {
  background: url(../img/arrow/arrow-navy-8x6.png) no-repeat right;
  padding-right: 15px;
  text-indent: -999999999px;
}
header .top .inner .user_set .dep1 > li button.on {
  background: url(../img/arrow/arrow-navy-8x6-on.png) no-repeat right;
  padding-right: 15px;
  text-indent: -999999999px;
}
header .top .inner .user_set .lag_textbox {
  width: 130px;
  background: #fff;
  padding: 9px 19px;
  border: 1px solid #666779;
  position: absolute;
  top: 35px;
  border-radius: 10px;
  /* display: none; */
}
header .top .inner .user_set .lag_textbox ul {
  padding: 8px 0;
}
header .top .inner .user_set .lag_textbox ul li {
  line-height: 33px;
}
header .top .inner .user_set .lag_textbox ul li a {
  color: var(--text_1);
}

header .top .inner .user_set .part_web_textbox {
  width: 360px;
  background: #fff;
  padding: 9px 19px;
  border: 1px solid #666779;
  position: absolute;
  top: 35px;
  right: 0;
  border-radius: 10px;
  /* display: none; */
}
header .top .inner .user_set .part_web_textbox .part_web_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .top .inner .user_set .part_web_textbox .part_web_list li {
  width: calc(100% / 3);
  height: 120px;
}
header .top .inner .user_set .part_web_textbox .part_web_list li a {
  display: block;
  padding: 10px 0 0;
  letter-spacing: -0.025em;
  line-height: 18px;
  color: var(--text_1);
}
header .top .inner .user_set .part_web_textbox .part_web_list li a::before {
  content: "";
  display: block;
  width: 56px;
  height: 56px;
  margin: 0 auto 10px;
  border-radius: 20px;
}
header
  .top
  .inner
  .user_set
  .part_web_textbox
  .part_web_list
  li:nth-child(1)
  a::before {
  background: url(../img/icon/site-list-ico01.png) no-repeat 50% 50%;
  background-color: #f16669;
}
header
  .top
  .inner
  .user_set
  .part_web_textbox
  .part_web_list
  li:nth-child(2)
  a::before {
  background: url(../img/icon/site-list-ico02.png) no-repeat 50% 50%;
  background-color: #bf9d83;
}
header
  .top
  .inner
  .user_set
  .part_web_textbox
  .part_web_list
  li:nth-child(3)
  a::before {
  background: url(../img/icon/site-list-ico03.png) no-repeat 50% 50%;
  background-color: #4cc771;
}
header
  .top
  .inner
  .user_set
  .part_web_textbox
  .part_web_list
  li:nth-child(4)
  a::before {
  background: url(../img/icon/site-list-ico04.png) no-repeat 50% 50%;
  background-color: #658dd0;
}
header
  .top
  .inner
  .user_set
  .part_web_textbox
  .part_web_list
  li:nth-child(5)
  a::before {
  background: url(../img/icon/site-list-ico05.png) no-repeat 50% 50%;
  background-color: #58606b;
}
header
  .top
  .inner
  .user_set
  .part_web_textbox
  .part_web_list
  li:nth-child(6)
  a::before {
  background: url(../img/icon/site-list-ico06.png) no-repeat 50% 50%;
  background-color: #9385dd;
}

header .bottom {
  width: 100%;
  height: 72px;
  background-color: #c5e1ff;
}

header .bottom .inner {
  height: 100%;
  background-color: #65b0ff;
}

main {
  width: 100%;
}

.main_search {
  background-color: #ffbef0;
  height: 156px;
}

.main_search .inner {
  height: 100%;
  background-color: #ff90e5;
}

.visitor_menu {
  background-color: #ffa5ea;
  height: 300px;
}
.visitor_menu .inner {
  height: 100%;
  background-color: #ff78e0;
}

.banner_wrap {
  background-color: #c0ffcd;
  height: 210px;
}

.banner_wrap .inner {
  height: 100%;
  background-color: #90ffa6;
}

.background {
  background-color: #e2e2e2;
  height: 1508px;
}
.background .inner .hiwell_news_wrap {
  width: 100%;
  height: 400px;
  background-color: #b6b6b6;
}

.background .inner .hiwell_service {
  width: 100%;
  height: 380px;
  background-color: #c0c0c0;
}

.background .inner .about_hiwell {
  width: 100%;
  height: 382px;
  background-color: #b9b9b9;
}
.background .inner .center {
  width: 100%;
  height: 346px;
  background-color: #dadada;
}

footer {
  background-color: #e2e2e2;
  height: 270px;
}

footer .inner {
  background-color: #ebebeb;
  height: 270px;
}
