@charset "UTF-8";

.tab > a {
  outline: none;
}

.tab > a:focus {
  border: solid var(--primary) 2px;
}

.skip_menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--primary);
  color: #fff;
  padding: 10px 72px;
  font-size: 24px;
  text-decoration: none;
  transform: translateY(-100%);
  transition: 0.3s;
  z-index: 5;
}

.skip_menu:focus {
  transform: translateY(0%);
}

.inner {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}

header {
  position: relative;
  z-index: 3;
}
header.on {
  padding-bottom: 7.2rem;
}

header .top {
  width: 100%;
  height: 46px;
  padding-top: 12px;
}

header .top .inner {
  margin: 0 auto;
  position: relative;
}
.inner:after {
  clear: both;
  display: block;
  content: "";
}
/* control */
header .top .inner .control {
  float: left;
  overflow: hidden;
}
header .top .inner .control > span {
  float: left;
  margin-left: 20px;
}
header .top .inner .control > span:first-child {
  margin-left: 0px;
}

header .top .inner .control em {
  font-style: normal;
  color: #707377;
  font-size: 13px;
  margin-right: 4px;
}
/* button */
header .top .inner .control button {
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  margin-right: 1px;
}

header .top .inner .control .btn-increase {
  background: url(../img/btn/btn-increase.png) no-repeat;
}
header .top .inner .control .btn-decrease {
  background: url(../img/btn/btn-decrease.png) no-repeat;
}

/* sound */
header .top .inner .control .default_sound {
  background: url(../img/btn/btn-sound.png);
}
header .top .inner .control .default_mute {
  /* display: none; */
  background: url(../img/btn/btn-mute.png);
}
/* user_set */
.user_set {
  float: right;
  padding-top: 1px;
}
.user_set ul.dep1 {
  margin: 0;
  padding: 0;
}
.user_set .dep1 > li {
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  position: relative;
}

.user_set .dep1 > li::before {
  width: 1px;
  height: 14px;
  background-color: #e1e1e1;
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
}
.user_set .dep1 > li:first-child::before {
  display: none;
}
.user_set .dep1 > li > a {
  font-size: 13px;
}
.user_set .dep1 > li button {
  background: url(../img/arrow/arrow-navy-8x6.png) no-repeat right;
  padding-right: 15px;
  text-indent: -999999999px;
}

.user_set .lag_textbox {
  width: 13rem;
  background: #fff;
  padding: 9px 19px;
  border: 1px solid #666779;
  position: absolute;
  top: 35px;
  border-radius: 10px;
  opacity: 0;
  z-index: 3;
}
.user_set .lag_textbox.on {
  opacity: 1;
}
.user_set .lag_textbox ul {
  padding: 8px 0;
}
.user_set .lag_textbox ul li {
  line-height: 33px;
}
.user_set .lag_textbox ul li a {
  color: var(--text_1);
}

.user_set .part_web_textbox {
  width: 360px;
  background: #fff;
  padding: 9px 19px;
  border: 1px solid #666779;
  position: absolute;
  top: 35px;
  right: 0;
  border-radius: 10px;
  display: none;
}
.user_set .part_web_textbox .part_web_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.user_set .part_web_textbox .part_web_list li {
  width: calc(100% / 3);
  height: 12rem;
}
.user_set .part_web_textbox .part_web_list li a {
  display: block;
  padding: 10px 0 0;
  letter-spacing: -0.025em;
  line-height: 18px;
  color: var(--text_1);
}
.user_set .part_web_textbox .part_web_list li a::before {
  content: "";
  display: block;
  width: 5.6rem;
  height: 5.6rem;
  margin: 0 auto 10px;
  border-radius: 20px;
}

.user_set .part_web_textbox .part_web_list li:nth-child(1) a::before {
  background: url(../img/icon/site-list-ico01.png) no-repeat 50% 50%;
  background-color: #f16669;
}
.user_set .part_web_textbox .part_web_list li:nth-child(2) a::before {
  background: url(../img/icon/site-list-ico02.png) no-repeat 50% 50%;
  background-color: #bf9d83;
}

.user_set .part_web_textbox .part_web_list li:nth-child(3) a::before {
  background: url(../img/icon/site-list-ico03.png) no-repeat 50% 50%;
  background-color: #4cc771;
}

.user_set .part_web_textbox .part_web_list li:nth-child(4) a::before {
  background: url(../img/icon/site-list-ico04.png) no-repeat 50% 50%;
  background-color: #658dd0;
}

.user_set .part_web_textbox .part_web_list li:nth-child(5) a::before {
  background: url(../img/icon/site-list-ico05.png) no-repeat 50% 50%;
  background-color: #58606b;
}

.user_set .part_web_textbox .part_web_list li:nth-child(6) a::before {
  background: url(../img/icon/site-list-ico06.png) no-repeat 50% 50%;
  background-color: #9385dd;
}

/* logo */
header .bottom {
  width: 100%;
  height: 7.2rem;
  border-bottom: 1px solid #e1e3e6;
  background: #fff;
  position: relative;
}
header.on .bottom {
  position: absolute;
  background-color: #fff;
  height: 46rem;
  z-index: 9999;
  border-bottom: 1px solid #e1e3e6;
}

header.on .bottom:before {
  content: "";
  position: absolute;
  background-color: #e1e3e6;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  bottom: 5.9rem;
}
header.on .bottom::after {
  content: "";
  position: absolute;
  background-color: #e1e3e6;
  height: 1px;
  width: 100%;
  top: 7.1rem;
  left: 0;
}
header .bottom .inner {
  height: 100%;
  padding: 0 117px 0 145px;
}

header .bottom .inner .logo {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
header .bottom .inner .logo a {
  background: url(../img/logo/logo.png) no-repeat left;
  height: 7.2rem;
  display: block;
  text-indent: -99999999px;
}

/* nav */
nav {
  position: relative;
  padding-top: 20px;
}
nav .gnb_inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
nav .gnb_inner::before {
  content: "";
  background: url(../img/main/gnb-visual.png) no-repeat left center;
  width: 130px;
  height: 100%;
  position: absolute;
  left: -90px;
  z-index: -1;
  padding-top: 51px;
  display: none;
}
header.on nav .gnb_inner::before {
  content: "";
  background: url(../img/main/gnb-visual.png) no-repeat left center;
  width: 130px;
  height: 100%;
  position: absolute;
  left: -90px;
  z-index: -1;
  padding-top: 51px;
  display: block;
}
nav .gnb_inner > li {
  width: 16rem;
  display: flex;
  position: relative;
  flex-direction: column;
}
nav .gnb_inner > li:hover .depth2_inner {
  background-color: #f6f6f6;
}
nav .gnb_inner > li.on > a {
  font-size: 2rem;
  color: #44465c;
  font-weight: 700;
  display: inline-block;
  margin-left: 16px;
  font-family: "NotoKr";
  position: relative;
  height: 5.2rem;
}
nav .gnb_inner > li.on:hover > a {
  color: #ee0700;
}

nav .gnb_inner > li > .depth2_inner {
  position: relative;
  height: 327px;
  display: none;
  padding: 17px 17px;
  margin-left: 0px;
}

nav .gnb_inner > li > .depth2_inner > li {
  margin-top: 1rem;
}
nav .gnb_inner > li > .depth2_inner > li > a {
  font-size: 1.5rem;
  color: #44465c;
  display: block;
  letter-spacing: -0.5px;
  font-weight: 400;
}

/* nav favorite */
header .bottom .favorite {
  display: flex;
  gap: 3rem;
  height: 5.9rem;
  align-items: center;
  display: none;
  background-color: #fff;
  position: relative;
  top: -5.9rem;
  left: 13rem;
}
header .bottom .favorite > a {
  color: var(--text_3);
}
header .bottom .favorite > a:nth-child(1) {
  font-weight: 600;
  color: var(--text_3);
}

header.on .bottom .favorite {
  display: block;
}

nav .favorite_wrap.inner {
  padding: 0 14%;
}
nav .favorite_wrap .depth2_inner {
  display: none;
  justify-content: flex-start;
  gap: 3.2rem;
}
nav .favorite_wrap ul.depth2_inner:hover {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}
nav .favorite_wrap .depth2_inner .fw_b {
  font-size: 1.5rem;
  color: #44465c;
  font-weight: 700;
}
nav .favorite_wrap .depth2_inner > li > a {
  color: #3a3a4a;
}

.user_support {
  display: flex;
  position: absolute;
  right: -117px;
  top: 16px;
}
.toggle_search {
  text-indent: -9999999px;
  background: url(../img/icon/ico-search-navy.png) no-repeat center;
  width: 4rem;
  height: 4rem;
}
.toggle_menu {
  text-indent: -9999999px;
  background: url(../img/icon/ico-menu-navy.png) no-repeat center;
  width: 4rem;
  height: 4rem;
  margin-left: 11px;
}
.toggle_menu.mobile {
  display: none;
}
.toggle_menu {
  text-indent: -9999999px;
  background: url(../img/icon/ico-menu-navy.png) no-repeat center;
  width: 4rem;
  height: 4rem;
}

/* main */
main {
  width: 100%;
}
.main_wrap {
  padding: 50px 0 0 0;
}
.main_search .inner {
  height: 11.8rem;
}
.search_wrap {
  padding-top: 20px;
  width: 50%;
}
.search_wrap .form-area {
  padding-right: 8rem;
  position: relative;
  margin-bottom: 2rem;
}
.search_wrap .form-area .search_input {
  width: 100%;
  height: 6rem;
  border: 3px solid var(--primary);
  border-radius: 1rem;
  font-size: 2rem;
  text-indent: 2.5rem;
}

.search_wrap .form-area .button_search {
  width: 6rem;
  height: 6rem;
  border: none;
  background-color: var(--primary);
  border-radius: 40%;
  position: absolute;
  right: 0;
  top: 0;
  filter: drop-shadow(-5px 5px 10px #ee08005f);
}
.search_wrap .form-area .button_search i.bi {
  position: relative;
  top: 2px;
  font-size: 3rem;
  color: #fff;
}

.top_banner {
  position: absolute;
  top: 0;
  right: 0;
}

.top_banner ul {
  width: 41rem;
  height: 11.8rem;
  overflow: hidden;
  display: flex;
}

.banner_mobile {
  display: none;
}
/* bxslider */
.bx-wrapper .bx-controls-auto {
  position: absolute;
  left: 9.8rem;
}

.bx-wrapper .bx-pager.bx-default-pager {
  position: absolute;
  top: 11.3rem;
  left: 0;
}
/* bxslider */

/* visitor_menu */
.visitor_menu {
  margin-top: 8rem;
}
.visitor_menu .inner {
  height: 100%;
}
.visitor_menu .inner .title_wrap {
  display: flex;
  margin-bottom: 35px;
}
.visitor_menu .inner .title_wrap strong {
  margin-right: 1.8rem;
  color: var(--text_3);
}
.visitor_menu .inner .title_wrap .title_M {
  display: none;
}
.visitor_menu .inner .toggle_wrap {
  display: flex;
  width: 19.2rem;
  border: 1px solid #e1e3e6;
  background-color: #f6f6f6;
  border-radius: 2rem;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.toggle_wrap button {
  width: 50%;
  height: 3.2rem;
  line-height: 3rem;
  background: 0;
  position: relative;
  z-index: 1;
  color: var(--text_3);
}
.toggle_wrap button.on {
  content: "";
  width: 50%;
  height: 3.2rem;
  background-color: #ee0700;
  z-index: 1;
  border-radius: 2rem;
  color: #fff;
}
.title_wrap .add {
  position: absolute;
  right: 0;
}
.title_wrap .add .addPlus {
  display: block;
  height: 3.2rem;
  line-height: 3.2rem;
  padding: 0 12px;
  border: 1px solid #69727e;
  color: var(--text_1);
  background-color: #fff;
  border-radius: 4px;
}
.menu_list {
  height: 100%;
  overflow: hidden;
  /* display: none; */
}
.menu-list.on {
  display: block;
}
.menu_list:last-child {
  display: none;
}
.menu_list ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  position: relative;
}
.menu_list ul li {
  width: 9.1%;
  float: left;
  margin-left: 2.2%;
}
.menu_list ul li:first-child {
  margin-left: 0;
}
.menu_list ul li a {
  line-height: 24px;
  color: #3a3a4a;
  font-weight: 700;
  font-size: 16px;
  font-weight: 400;
}
.menu_list ul li a:hover {
  text-decoration: none;
}
.menu_list ul li a:hover span {
  background-color: var(--text_1);
}
.menu_list ul li a:hover span img {
  filter: brightness(0) invert(100%);
}
.menu_list ul li a:hover span em {
  background: #fff url(../img/icon/ico-go-to-site-on.png) no-repeat center
    center;
}
.menu_list ul li a span {
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  background-color: var(--background);
  border-radius: 32px;
  margin-bottom: 23px;
  position: relative;
}
.menu_list ul li a span img {
  vertical-align: middle;
}
.menu_list ul li a span em {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  text-indent: -9999999px;
  border-radius: 50%;
  bottom: 0;
  background: #44465c url(../img/icon/ico-go-to-site.png) no-repeat center
    center;
}

.banner_wrap {
  margin-top: 5em;
  padding-bottom: 8rem;
}
.banner_wrap .inner .banner_top {
  color: #fff;
  margin-bottom: 2rem;
}
.banner_wrap .inner .banner_img ul li a::after {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background: url(../img/arrow/arrow-slide-l.png) no-repeat center center;
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 5px));
  left: 30px;
}
.banner_wrap .inner .banner_img ul li a::before {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background: url(../img/arrow/arrow-slide-r.png) no-repeat center center;
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 5px));
  right: 30px;
}
.banner_wrap .inner .banner_img ul li a img {
  border-radius: 10px 55px 10px 10px;
}

.banner_wrap .inner .banner_img ul li a p {
  width: 100%;
  position: absolute;
  top: 20%;
  margin-top: 38px;
  text-align: center;
  color: #111;
  letter-spacing: -1.5px;
}
.banner_wrap .inner .banner_img ul li a p:nth-child(2) {
  margin-top: 0;
}

.banner_wrap .bx-wrapper .bx-pager.bx-default-pager {
  position: absolute;
  margin-top: 18px;
  top: -18px;
  left: 0;
}

.banner_wrap .bx-wrapper .bx-controls-auto {
  position: absolute;
  top: 7px;
  left: 45px;
}

/* ////banner_wrap end */

/* ////background start */

.background {
  padding: 8rem 0 85rem 0;
  background-color: var(--background);
}

.background .inner .hiwell_news_wrap {
  display: flex;
}

.news,
.info,
.quick_link {
  width: 29.8%;
  height: 320px;
  margin-left: 5.3%;
}
.background .inner .hiwell_news_wrap .news {
  border-radius: 50px 20px 20px 20px;
  background-color: #ef6266;
  padding-top: 25px;
  margin-left: 0%;
}

.background .inner .hiwell_news_wrap .news ul > li {
  border-bottom: 1px solid #f18f91;
}
.background .inner .hiwell_news_wrap .news ul > li:nth-child(5) {
  border-bottom: none;
}
.background .inner .hiwell_news_wrap .news ul li a {
  height: 52px;
  line-height: 52px;
  color: #fff;
  display: block;
  padding: 0 0 0 40px;
  font-size: 1.9rem;
  font-weight: 700;
  margin-right: 4rem;
  text-decoration: none;
}
.background .inner .hiwell_news_wrap .news ul > li:nth-child(1) a {
  background: url(../img/icon/icon_news_area_01.png) no-repeat right;
}
.background .inner .hiwell_news_wrap .news ul > li:nth-child(2) a {
  background: url(../img/icon/icon_news_area_02.png) no-repeat right;
}
.background .inner .hiwell_news_wrap .news ul > li:nth-child(3) a {
  background: url(../img/icon/icon_news_area_03.png) no-repeat right;
}
.background .inner .hiwell_news_wrap .news ul > li:nth-child(4) a {
  background: url(../img/icon/icon_news_area_04.png) no-repeat right;
}
.background .inner .hiwell_news_wrap .news ul > li:nth-child(5) a {
  background: url(../img/icon/icon_news_area_05.png) no-repeat right;
}
.background .inner .hiwell_news_wrap .info {
  border-radius: 20px 50px 20px 20px;
  border: 1px solid #e1e3e6;
  background-color: #fff;
  padding: 35px 39px 0;
}
.background .inner .hiwell_news_wrap .info .p_title {
  font-weight: 700;
  color: var(--text_3);
  margin-bottom: 2.3rem;
}
.background .inner .hiwell_news_wrap .info ul li {
  border-bottom: 1px solid #f0edec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background .inner .hiwell_news_wrap .info ul li:nth-child(1) {
  border-top: 1px solid #f0edec;
}
.background .inner .hiwell_news_wrap .info ul li a {
  height: 4.5rem;
  line-height: 4.5rem;
  padding-right: 1.7rem;
  background: url(../img/arrow/arrow-link.png) no-repeat right;
}
.background .inner .hiwell_news_wrap .info ul li img {
  width: 2.8rem;
  height: 2.8rem;
}
.background .inner .hiwell_news_wrap .info ul li a {
  height: 4.5rem;
  line-height: 4.5rem;
  padding-right: 1.7rem;
  background: url(../img/arrow/arrow-link.png) no-repeat right;
}
.background .inner .hiwell_news_wrap .quick_link {
  border-radius: 20px 50px 20px 20px;
  border: 1px solid #e1e3e6;
  background: #2fa298 url(../img/bg/bg-guarantee.png) no-repeat right bottom;
  padding: 35px 39px 0;
}

.background .inner .hiwell_service {
}

.background .inner .about_hiwell {
}
.background .inner .center {
}

/* footer {
  background-color: #e2e2e2;
  height: 270px;
}

footer .inner {
  background-color: #ebebeb;
  height: 270px;
} */

@media screen and (max-width: 1180px) {
  .inner {
    width: 100%;
  }
  header .top {
    padding: 12px 20px 0;
  }
  header .bottom {
    padding: 0 20px;
  }
  nav .gnb_inner::before {
    left: -156px;
  }
  nav .favorite_wrap.inner {
    padding: 0 3%;
  }
}

@media screen and (max-width: 640px) {
  .banner_mobile {
    display: block;
  }
}
