@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
  background: transparent;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 작성한것 */

* {
  box-sizing: border-box;
}
:root {
  --primary: #ee0700;
  --secondary: #2fa298;
  --tertiary: #ef6266;
  --text_1: #44465c;
  --text_2: #707377;
  --text_3: #3a3a4a;
  --background: #f6f6f6;
}
html {
  overflow-y: scroll;
  /* hidden 시험이라 하는 것 */
  overflow-x: hidden;
  font-size: 62.5%;
  /* 기본 p폰트 10px로 변경해서 rem단위로 */
  font-weight: 400;
}

body {
  font-size: 15px;
  line-height: 1.5;
  color: #6c6d73;
  font-weight: normal;
  font-family: "NBG", "나눔바른고딕", "Malgun Gothic", "맑은 고딕", Dotum,
    "돋움", sans-serif;
  font-weight: 400;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--text_2);
}

a:hover {
  color: red;
  text-decoration: underline;
}

.skip_menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  font-size: 24px;
  text-decoration: none;
  transform: translateY(-100%);
  transition: 0.3s;
}

.skip_menu:focus {
  transform: translateY(0%);
}

button {
  overflow: visible;
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.15;
  outline-color: blue;
  outline-offset: -0.5px;
}

.font_reset {
  word-spacing: 0 !important;
  letter-spacing: -0.05rem !important;
  font-size: 1.5rem !important;
  font-family: "NBG", "나눔바른고딕", "Malgun Gothic", "맑은 고딕", Dotum,
    "돋움", sans-serif;
}
